 <h2>Import pandas library</h2>

In [1]:
import pandas as pd

 <h2>Get required table</h2>

In [2]:
url = r'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
tables = pd.read_html(url)
table = tables[0]
postalcodetable = pd.DataFrame(table)
postalcodetable.head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

 <h2>Ignore cells with a borough that is Not assigned</h2>

In [3]:
postalcodetable = postalcodetable[postalcodetable['Borough']!='Not assigned']
postalcodetable.head()

  Postal code           Borough                                  Neighborhood
2         M3A        North York                                     Parkwoods
3         M4A        North York                              Victoria Village
4         M5A  Downtown Toronto                    Regent Park / Harbourfront
5         M6A        North York             Lawrence Manor / Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

 <h2>Separate by comma</h2>

In [4]:
postalcodetable['Neighborhood'] = postalcodetable['Neighborhood'].str.replace(' /', ',')
postalcodetable.head()

  Postal code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

 <h2>Check if listed twice</h2>

In [5]:
for i in postalcodetable['Postal code'].value_counts()!=1:
    if i == True:
        print("Duplicate exists!")

No duplicate.

 <h2>Neighborhood to be the same as the borough if applied</h2>

In [6]:
postalcodetable[postalcodetable['Neighborhood']=='Not assigned']

Empty DataFrame
Columns: [Postal code, Borough, Neighborhood]
Index: []

No cell has a borough but a Not assigned neighborhood

 <h2>Print dataframe shape</h2>

In [7]:
postalcodetable.shape

(103, 3)

 <h2>Download csv file for geographical coordinates</h2>

In [8]:
import urllib.request
urllib.request.urlretrieve('http://cocl.us/Geospatial_data', 'geospatial_data.csv')

('geospatial_data.csv', <http.client.HTTPMessage at 0x2a25a8c76c8>)

In [9]:
geospatialtable = pd.read_csv('geospatial_data.csv')
geospatialtable.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [14]:
geospatialtable.rename(columns = {'Postal Code':'Postal code'}, inplace=True)
geospatialtable.head()

  Postal code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

 <h2>Create new dataframe</h2>

In [18]:
combinedtable = pd.merge(postalcodetable, geospatialtable, on='Postal code', how='outer')
combinedtable.head()

,Postal code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494